<div id="notice">
  <h1>海报列表</h1>
</div>
<div id="side">
  <%= render "admin/shared/shortcut" %>
</div>
<div id="main">
  <div class="portlet">
    <div class="title"></div>
    <div class="content">
      <%= flash_tag %>
      <table class="list-generic">
        <thead>
          <tr>
            <td>标题</td>
            <td>URL</td>
            <td>前台可见</td>
            <td>操作</td>
          </tr>
        </thead>
        <tbody>
          <% @posters.each do |poster| %>
            <tr>
              <td><%= link_to poster.title, [:admin, poster] %></td>
              <td><%= poster.url %></td>
              <td><%= human_boolean_tag poster.visible? %></td>
              <td><%= edit_tag poster %> <%= destroy_tag poster %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @posters %>
    </div>
  </div>
</div>