<% content_for :head do %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<% end %>
<div id="notice">
  <h1>控制面板</h1>
</div>
<div id="side">
  <%= render "admin/shared/shortcut" %>
</div>
<div id="main">
  <div class="portlet">
    <div class="title">数据统计</div>
    <div class="content">
      <fieldset class="form-generic">
        <legend>论文参会报名统计</legend>
        <ul>
          <li>
            <label>报名总人数：</label><%= @total_participants_count %>
          </li>
          <li>
            <label>今日报名人数：</label><%= @today_participants_count %>
          </li>
        </ul>
      </fieldset>
      <fieldset class="form-generic">
        <legend>专家评审统计</legend>
        <ul>
          <li>
            <label>已评审：</label><%= @rated_count %>篇
          </li>
          <li>
            <label>未评审：</label><%= @unrate_count %>篇
          </li>
        </ul>
      </fieldset>
      <script type="text/javascript">
          google.load("visualization", "1", {packages:["corechart"]});
          google.setOnLoadCallback(drawSignupDateChart);
          google.setOnLoadCallback(drawNationalityChart);
          function drawSignupDateChart() {
            var data = google.visualization.arrayToDataTable([
              ['日期', '报名人数'],
              <%= raw @signup_date_chart %>
            ]);

            var options = {
              title: '报名日期及人数增长图表'
            };

            var chart = new google.visualization.LineChart(document.getElementById('signup-date-chart-div'));
            chart.draw(data, options);
          }
          function drawNationalityChart() {
            var data = google.visualization.arrayToDataTable([
              ['国籍', '人数'],
              <%= raw @nationality_chart %>
            ]);

            var options = {
              title: '参会者国籍分布图表'
            };

            var chart = new google.visualization.PieChart(document.getElementById('nationality-chart-div'));
            chart.draw(data, options);
          }
        </script>
      <fieldset class="form-generic">
        <legend>报名日期统计</legend>
        <div id="signup-date-chart-div" style="width: 700px; height: 400px;"></div>
      </fieldset>
      <fieldset class="form-generic">
        <legend>参会者国籍统计</legend>
        <div id="nationality-chart-div" style="width: 700px; height: 400px;"></div>
      </fieldset>
    </div>
  </div>
</div>