<div id="notice">
  <h1>控制面板</h1>
</div>
<div id="side">
  <%= render "admin/shared/shortcut" %>
</div>
<div id="main">
  <div class="portlet">
    <div class="title">数据统计</div>
    <div class="content">
      <fieldset class="form-generic">
        <legend>论文参会报名统计</legend>
        <ul>
          <li>
            <label>报名总人数：</label><%= @total_participants_count %>
          </li>
          <li>
            <label>今日报名人数：</label><%= @today_participants_count %>
          </li>
        </ul>
      </fieldset>
      <fieldset class="form-generic">
        <legend>专家评审统计</legend>
        <ul>
          <li>
            <label>已评审：</label><%= @rated_count %>篇
          </li>
          <li>
            <label>未评审：</label><%= @unrate_count %>篇
          </li>
        </ul>
      </fieldset>
    </div>
  </div>
</div>