<% content_for :head do %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<% end %>
<div id="notice">
  <h1>控制面板</h1>
</div>
<div id="side">
  <%= render "admin/shared/shortcut" %>
</div>
<div id="main">
  <div class="portlet">
    <div class="title">数据统计</div>
    <div class="content">
      <fieldset class="form-generic">
        <legend>论文参会者统计</legend>
        <ul>
          <li>
            <label>论文参会人数：</label><%= @approved_theses_count %>
          </li>
          <li>
            <label>已提交全文人数：</label><%= @submited_theses_count %>
          </li>
        </ul>
      </fieldset>
      <fieldset class="form-generic">
        <legend>酒店住宿统计</legend>
        <ul>
          <li>
            <label>已选房人数：</label><%= @bookings_count %>
          </li>
          <% @hotels.each do |hotel| %>
            <% hotel.rooms.each do |room| %>
            <li>
              <label><%= hotel.name %>（<%= room.name %>）：</label>共<%= room.quota %>间，已预定<%= room.bookings.count / room.bed_amount %>间
            </li>
            <% end %>
          <% end %>
        </ul>
      </fieldset>
    </div>
  </div>
</div>