<!DOCTYPE html>
<html>
  <head>
    <title>第十一届国际汉语教学研讨会管理系统</title>
    <%= stylesheet_link_tag "meta", "admin", :media => "all" %>
    <%= javascript_include_tag "application", "/ckeditor/ckeditor.js" %>
  </head>
  <body>
    <div id="header">
      <div class="container">
        <span>第十一届国际汉语教学研讨会管理系统</span>
        <div id="pi">
          <ul>
            <li>
              <%= image_tag 'admin/portrait.gif' %>
              欢迎您，<%= session[:user_name] %> | <%= link_to '修改密码', admin_edit_password_path %> | <%= link_to '注销', admin_signout_path %>
            </li>
            <li class="date">上次登录时间：<%= human_datetime_tag session[:user_last_signined_at] %></li>
          </ul>
        </div>
        <div class="cb"></div>
      </div>
    </div>
    <div id="navi">
      <div class="container">
        <ul>
          <li><%= link_to '控制面板', admin_root_path %></li>
          <li><a href="#">参会者管理<%= image_tag 'admin/navi_arrow.gif' %></a>
            <ul>
              <li><%= link_to '参会者列表', admin_participants_path %></li>
              <li><%= link_to '添加参会者', new_admin_participant_path %></li>
              <li><%= link_to '论文列表', admin_theses_path %></li>
            </ul>
          </li>
          <li><a href="#">专家管理<%= image_tag 'admin/navi_arrow.gif' %></a>
            <ul>
              <li><%= link_to '专家列表', admin_experts_path %></li>
              <li><%= link_to '添加专家', new_admin_expert_path %></li>
              <li><%= link_to '批量添加', batched_new_admin_experts_path %></li>
            </ul>
          </li>
          <li><a href="#">评审管理<%= image_tag 'admin/navi_arrow.gif' %></a>
            <ul>
              <li><%= link_to '评审列表', admin_reviews_path %></li>
              <li><%= link_to '添加评审', new_admin_review_path %></li>
              <li><%= link_to '批量指派', batched_new_admin_ratings_path %></li>
            </ul>
          </li>
          <li><a href="#">内容管理<%= image_tag 'admin/navi_arrow.gif' %></a>
            <ul>
              <li><%= link_to '文章列表', admin_articles_path %></li>
              <li><%= link_to '添加文章', new_admin_article_path %></li>
              <li><%= link_to '海报管理', admin_posters_path %></li>
              <li><%= link_to '添加海报', new_admin_poster_path %></li>
            </ul>
          </li>
          <% if session[:user_role] == User::RoleAdmin %>
          <li><a href="#">系统管理<%= image_tag 'admin/navi_arrow.gif' %></a>
            <ul>
              <li><%= link_to '用户列表', admin_users_path %></li>
              <li><%= link_to '添加用户', new_admin_user_path %></li>
            </ul>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="content">
      <div class="container">
        <%= yield %>
        <div class="cb"></div>
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <span>Copyright 世界汉语教学学会 @2012</span>
      </div>
    </div>
  </body>
</html>
