<%= participant_submenu_tag %>
<div id="right">
  <%= flash_tag %>
  <fieldset class="form-generic form-thesis">
    <legend>查看论文</legend>
    <ul>
      <li>
        <label>题目：</label><%= @participant.thesis.subject %>
      </li>
      <li>
        <label>第一作者：</label><%= @participant.thesis.first_author %>
      </li>
      <li>
        <label>第二作者：</label><%= @participant.thesis.second_author %>
      </li>
      <li>
        <label>关键词：</label><%= @participant.thesis.keywords %>
      </li>
      <li>
        <label>摘要：</label><span class="summary"><%= @participant.thesis.summary %></span>
      </li>
      <li>
        <label>论文：</label><%= raw @participant.thesis.document.file? ? "#{link_to('点击下载', @participant.thesis.document.url, :target => '_blank')} <span>最后更新于 #{Time.at(@participant.thesis.document.updated_at).strftime('%Y-%m-%d %H:%M')}</span>" : '尚未提交' %>
      </li>
    </ul>
  </fieldset>
</div>
<div class="cb"></div>
