<%= expert_submenu_tag %>
<div id="right">
  <%= flash_tag %>
  <%= form_for [@expert, @rating] do |f| %>
  <%= render "shared/error_messages", :target => @rating %>
  <fieldset class="form-generic">
    <legend>论文信息</legend>
    <ul>
      <li>
        <label>题目：</label><%= @rating.thesis.subject %>
      </li>
      <li>
        <label>关键词：</label><%= @rating.thesis.keywords %>
      </li>
      <li>
        <label>摘要：</label><span class="summary"><%= @rating.thesis.summary %></span>
      </li>
    </ul>
  </fieldset>
  <fieldset class="form-generic">
    <legend>评审信息</legend>
    <ul>
      <li>
        <% if @rating.review.marking? %>
          <label>评分：</label><%= f.text_field :points, :class => 'text-field' %>
        <% else %>
          <label>审核：</label>
          <%= f.radio_button :grade, Rating::GradeApproved, :checked => true %><span class="cgreen">通过</span>
          <%= f.radio_button :grade, Rating::GradeFailure %><span class="cred">不通过</span>
          <%= f.radio_button :grade, Rating::GradeReserved %><span class="cblue">备选</span>
        <% end %>
      </li>
      <li>
        <label>我的意见：</label><%= f.text_area :opinion, :class => 'text-area' %>
      </li>
    </ul>
  </fieldset>
  <% if @rating.rated_at.blank? %>
  <div class="action-generic">
    <%= link_to '填写完毕，提交评审信息', '#', :onclick => "submitForm('edit_rating_#{@rating.id}')", :class => 'button' %>
  </div>
  <% else %>
  <div class="action-generic">
    <%= link_to '修改评审信息', '#', :onclick => "submitForm('edit_rating_#{@rating.id}')", :class => 'button' %>
  </div>
  <% end %>
  <% end %>
</div>
<div class="cb"></div>
