<div id="notice">
  <h1>编辑参会者</h1>
</div>
<div id="side">
  <%= render "admin/shared/shortcut" %>
</div>
<div id="main">
  <div class="portlet">
    <div class="title"></div>
    <div class="content">
      <%= form_for [:admin, @participant], :html => { :multipart => true } do |f| %>
      <%= render "admin/shared/error_messages", :target => @participant %>
      <fieldset class="form-generic">
        <legend>参会者信息</legend>
        <ul>
          <li>
            <label><span>*</span>账号：</label><%= @participant.account %>
          </li>
          <li>
            <label><span>*</span>参会类型：</label><%= f.select :attend_as, participant_type_options %>
          </li>
          <li>
            <label><span>*</span>中文名：</label><%= f.text_field :chinese_name, :class => 'text-field' %>
          </li>
          <li>
            <label>外文名：</label><%= f.text_field :foreign_name, :class => 'text-field' %>
          </li>
          <li>
            <label><span>*</span>性别：</label><%= f.radio_button :gender, 1 %>男 <%= f.radio_button :gender, 2 %>女
          </li>
          <li>
            <label><span>*</span>国籍：</label><%= f.select :nationality_id, option_groups_from_collection_for_select(all_continents, :countries, :name, :id, :name) %>
          </li>
          <li>
            <label>联系地址：</label><%= f.text_field :address, :class => 'text-field' %>
          </li>
          <li>
            <label>邮政编码：</label><%= f.text_field :postal_code, :class => 'text-field' %>
          </li>
          <li>
            <label><span>*</span>座机：</label><%= f.text_field :phone, :class => 'text-field' %>
          </li>
          <li>
            <label><span>*</span>手机：</label><%= f.text_field :mobile, :class => 'text-field' %>
          </li>
          <li>
            <label>传真：</label><%= f.text_field :fax, :class => 'text-field' %>
          </li>
          <li>
            <label><span>*</span>电子邮件：</label><%= f.text_field :email, :class => 'text-field' %>
          </li>
          <li>
            <label>工作单位：</label><%= f.text_field :company, :class => 'text-field' %>
          </li>
          <li>
            <label>职称：</label><%= f.text_field :title, :class => 'text-field' %>
          </li>
          <li>
            <label>职位：</label><%= f.text_field :position, :class => 'text-field' %>
          </li>
          <li>
            <label>任教国：</label><%= f.select :teaches_in_id, option_groups_from_collection_for_select(all_continents, :countries, :name, :id, :name), :include_blank => '请选择' %>
          </li>
          <li>
            <label>任教单位：</label><%= f.text_field :teaches_at, :class => 'text-field' %>
          </li>
          <li>
            <label>备注：</label><%= f.text_area :remark, :class => 'text-area' %>
          </li>
        </ul>
      </fieldset>
      <%= f.fields_for :thesis do |tf| %>
      <fieldset class="form-generic">
        <legend>论文信息</legend>
        <ul>
          <li>
            <label><span>*</span>题目：</label><%= tf.text_field :subject, :class => 'text-field' %>
          </li>
          <li>
            <label><span>*</span>第一作者：</label><%= tf.text_field :first_author, :class => 'text-field' %>
          </li>
          <li>
            <label>第二作者：</label><%= tf.text_field :second_author, :class => 'text-field' %>
          </li>
          <li>
            <label><span>*</span>关键词：</label><%= tf.text_field :keywords, :class => 'text-field' %>
          </li>
          <li>
            <label><span>*</span>摘要：</label><%= tf.text_area :summary, :class => 'text-area' %>
          </li>
          <li>
            <label>论文：</label><%= tf.file_field :document, :class => 'file-field' %>
          </li>
        </ul>
      </fieldset>
      <% end %>
      <div class="action-generic">
        <%= link_to '修改', '#', :onclick => "submitForm('edit_participant_#{@participant.id}')", :class => 'button' %>
      </div>
      <% end %>
    </div>
  </div>
</div>