<div id="notice">
  <h1>查看参会者</h1>
</div>
<div id="side">
  <div class="portlet">
    <div class="title">相关功能</div>
    <div class="content">
      <ul>
        <li><%= link_to '添加评审专家', new_admin_participant_thesis_rating_url(@participant) %></li>
      </ul>
    </div>
  </div>
</div>
<div id="main">
  <div class="portlet">
    <div class="title"></div>
    <div class="content">
      <%= flash_tag %>
      <fieldset class="form-generic">
        <legend>参会者信息</legend>
        <ul>
          <li>
            <label>序号：</label><%= @participant.id %>
          </li>
          <li>
            <label>账号：</label><%= @participant.account %>
          </li>
          <li>
            <label>参会类型：</label><%= human_participant_type_tag @participant.attend_as %>
          </li>
          <li>
            <label>中文名：</label><%= @participant.chinese_name %>
          </li>
          <li>
            <label>外文名：</label><%= @participant.foreign_name %>
          </li>
          <li>
            <label>性别：</label><%= human_gender_tag @participant.gender %>
          </li>
          <li>
            <label>国籍：</label><%= @participant.nationality.name %>
          </li>
          <li>
            <label>联系地址：</label><%= @participant.address %>
          </li>
          <li>
            <label>邮政编码：</label><%= @participant.postal_code %>
          </li>
          <li>
            <label>座机：</label><%= @participant.phone %>
          </li>
          <li>
            <label>手机：</label><%= @participant.mobile %>
          </li>
          <li>
            <label>传真：</label><%= @participant.fax %>
          </li>
          <li>
            <label>电子邮件：</label><%= @participant.email %>
          </li>
          <li>
            <label>工作单位：</label><%= @participant.company %>
          </li>
          <li>
            <label>职称：</label><%= @participant.title %>
          </li>
          <li>
            <label>职位：</label><%= @participant.position %>
          </li>
          <% unless @participant.teaches_in.blank? %>
          <li>
            <label>任教国：</label><%= @participant.teaches_in.name %>
          </li>
          <li>
            <label>任教单位：</label><%= @participant.teaches_at %>
          </li>
          <% end %>
          <li>
            <label>备注：</label><%= @participant.remark %>
          </li>
          <li>
            <label>世汉学会会员：</label><%= human_boolean_tag @participant.isclt_member? %>
          </li>
          <% if @participant.isclt_member? %>
          <li>
            <label>会费截止日期：</label><%= human_date_tag @participant.isclt_expired_at %>
          </li>
          <% end %>
          <li>
            <label>是否参会：</label><%= human_boolean_tag @participant.approved? %>
          </li>
          <li>
            <label>提交时间：</label><%= human_datetime_tag @participant.created_at %>
          </li>
          <li>
            <label>最后更新时间：</label><%= human_datetime_tag @participant.updated_at %>
          </li>
        </ul>
      </fieldset>
      <% if @participant.approved? %>
      <fieldset class="form-generic">
        <legend>预定信息</legend>
        <ul>
        <% if @participant.bookings.blank? %>
          <li>
            <label>住宿信息：</label><span class="cred">未预定住宿</span>
          </li>
        <% else %>
          <li>
            <label>住宿酒店：</label><%= @participant.bookings.first.room.hotel.name %>
          </li>
          <li>
            <label>房间类型：</label><%= @participant.bookings.first.room.name %>
          </li>
          <li>
            <label>房间号码：</label><%= @participant.bookings.first.room_number %>
          </li>
          <li>
            <label>参观博物馆：</label><%= human_boolean_tag @participant.bookings.first.tour_museum? %>
          </li>
          <li>
            <label>参观兵马俑：</label><%= human_boolean_tag @participant.bookings.first.tour_tw? %>
          </li>
        <% end %>
        </ul>
      </fieldset>
      <fieldset class="form-generic" id="registration">
        <legend>签到信息</legend>
        <ul>
          <li>
            <label>签到时间：</label>
            <% if @participant.registered_at.blank? %>
              <%= link_to '现在签到', register_admin_participant_path(@participant), :class => 'button' %>
            <% else %>
              <%= human_datetime_tag @participant.registered_at %>
            <% end %>
          </li>
          <% if @participant.attend_as != Participant::AttendAsTrustee %>
            <% if @participant.fee_paid.nil? %>
            <%= form_tag pay_fee_admin_participant_path(@participant), :id => 'pay_fee', :method => :get do %>
            <li>
              <label>缴纳会议费：</label>
              <%= text_field_tag 'payment', nil, :class => 'text-field tiny' %> 元
              <%= link_to '现在缴纳', '#', :onclick => "submitForm('pay_fee')", :class => 'button' %>
            </li>
            <% end %>
            <% else %>
            <li>
              <label>缴纳会议费：</label><%= @participant.fee_paid %>元
            </li>
            <% end %>
          <% end %>
          <% if @participant.isclt_member? and @participant.attend_as != Participant::AttendAsTrustee %>
            <% if @participant.isclt_fee_paid.nil? %>
            <%= form_tag pay_isclt_fee_admin_participant_path(@participant), :id => 'pay_isclt_fee', :method => :get do %>
            <li>
              <label>缴纳会员费：</label>
              <%= text_field_tag 'payment', nil, :class => 'text-field tiny' %> 元
              <%= link_to '现在缴纳', '#', :onclick => "submitForm('pay_isclt_fee')", :class => 'button' %>
            </li>
            <% end %>
            <% else %>
            <li>
              <label>缴纳会员费：</label><%= @participant.isclt_fee_paid %>元
            </li>
            <% end %>
          <% end %>
          <li>
            <label>晚宴：</label>
            <% if @participant.attend_banquet.nil? %>
              <%= link_to '参加', attend_banquet_admin_participant_path(@participant), :class => 'button' %>
              <%= link_to '不参加', attend_banquet_admin_participant_path(@participant, :attend => :no), :class => 'button' %>
            <% else %>
              <%= human_attend_tag @participant.attend_banquet? %>
            <% end %>
          </li>
          <% if @participant.isclt_member? %>
          <li>
            <label>会员代表大会：</label>
            <% if @participant.attend_congress.nil? %>
              <%= link_to '参加', attend_congress_admin_participant_path(@participant), :class => 'button' %>
              <%= link_to '不参加', attend_congress_admin_participant_path(@participant, :attend => :no), :class => 'button' %>
            <% else %>
              <%= human_attend_tag @participant.attend_congress? %>
            <% end %>
          </li>
          <% end %>
          <li>
            <label>参观博物馆：</label>
            <% if @participant.tour_museum.nil? %>
              <%= link_to '参加', tour_museum_admin_participant_path(@participant), :class => 'button' %>
              <%= link_to '不参加', tour_museum_admin_participant_path(@participant, :attend => :no), :class => 'button' %>
            <% else %>
              <%= human_attend_tag @participant.tour_museum? %>
            <% end %>
          </li>
          <li>
            <label>参观兵马俑：</label>
            <% if @participant.tour_tw.nil? %>
              <%= link_to '参加', tour_tw_admin_participant_path(@participant), :class => 'button' %>
              <%= link_to '不参加', tour_tw_admin_participant_path(@participant, :attend => :no), :class => 'button' %>
            <% else %>
              <%= human_attend_tag @participant.tour_tw? %>
            <% end %>
          </li>
        </ul>
      </fieldset>
      <% end %>
      <% if @participant.attend_as == Participant::AttendAsThesisAuthor and !@participant.thesis.blank? %>
      <fieldset class="form-generic">
        <legend>论文信息</legend>
        <ul>
          <li>
            <label>题目：</label><%= @participant.thesis.subject %>
          </li>
          <li>
            <label>第一作者：</label><%= @participant.thesis.first_author %>
          </li>
          <li>
            <label>第二作者：</label><%= @participant.thesis.second_author %>
          </li>
          <li>
            <label>关键词：</label><%= @participant.thesis.keywords %>
          </li>
          <li>
            <label>摘要：</label><%= @participant.thesis.summary %>
          </li>
          <li>
            <label>论文：</label><%= human_thesis_document_tag @participant.thesis %>
          </li>
          <li>
            <label>摘要综合评审：</label><%= raw human_general_rating_tag @participant.thesis %>
          </li>
        </ul>
      </fieldset>
      <% @reviews.each do |review| %>
      <fieldset class="form-generic">
        <legend><%= review.name %></legend>
        <%= thesis_review_tag @participant.thesis, review %>
      </fieldset>
      <% end %>
      <% end %>
      <div class="action-generic">
        <%= link_to '编辑', edit_admin_participant_path(@participant), :class => 'button' %>
        <%= link_to '重置密码', reset_password_admin_participant_path(@participant), :confirm => '确定要重置密码吗？', :class => 'button' %>
        <%= link_to '模拟登录', simulate_signin_admin_participant_path(@participant), :target => '_blank', :class => 'button' %>
        <%= link_to '删除', [:admin, @participant], confirm: '确定要删除吗？', :method => :delete, :class => 'button' %>
        <%= link_to '返回列表', admin_participants_path, :class => 'button' %>
      </div>
    </div>
  </div>
</div>