<div id="notice">
  <h1>查看参会者</h1>
</div>
<div id="side">
  <div class="portlet">
  <div class="title">相关功能</div>
  <div class="content">
    <ul>
      <li><%= link_to '添加评审专家', new_admin_participant_thesis_rating_url(@participant) %></li>
    </ul>
  </div>
</div>
</div>
<div id="main">
  <div class="portlet">
    <div class="title"></div>
    <div class="content">
      <%= flash_tag %>
      <fieldset class="form-generic">
        <legend>参会者信息</legend>
        <ul>
          <li>
            <label>序号：</label><%= @participant.id %>
          </li>
          <li>
            <label>账号：</label><%= @participant.account %>
          </li>
          <li>
            <label>参会类型：</label><%= human_participant_type_tag @participant.attend_as %>
          </li>
          <li>
            <label>中文名：</label><%= @participant.chinese_name %>
          </li>
          <li>
            <label>外文名：</label><%= @participant.foreign_name %>
          </li>
          <li>
            <label>性别：</label><%= human_gender_tag @participant.gender %>
          </li>
          <li>
            <label>国籍：</label><%= @participant.nationality.name %>
          </li>
          <li>
            <label>联系地址：</label><%= @participant.address %>
          </li>
          <li>
            <label>邮政编码：</label><%= @participant.postal_code %>
          </li>
          <li>
            <label>座机：</label><%= @participant.phone %>
          </li>
          <li>
            <label>手机：</label><%= @participant.mobile %>
          </li>
          <li>
            <label>传真：</label><%= @participant.fax %>
          </li>
          <li>
            <label>电子邮件：</label><%= @participant.email %>
          </li>
          <li>
            <label>工作单位：</label><%= @participant.company %>
          </li>
          <li>
            <label>职称：</label><%= @participant.title %>
          </li>
          <li>
            <label>职位：</label><%= @participant.position %>
          </li>
          <% unless @participant.teaches_in.blank? %>
          <li>
            <label>任教国：</label><%= @participant.teaches_in.name %>
          </li>
          <li>
            <label>任教单位：</label><%= @participant.teaches_at %>
          </li>
          <% end %>
          <li>
            <label>备注：</label><%= @participant.remark %>
          </li>
          <li>
            <label>提交时间：</label><%= human_datetime_tag @participant.created_at %>
          </li>
          <li>
            <label>最后更新时间：</label><%= human_datetime_tag @participant.updated_at %>
          </li>
        </ul>
      </fieldset>
      <% if @participant.attend_as == Participant::AttendAsThesisAuthor and !@participant.thesis.blank? %>
      <fieldset class="form-generic">
        <legend>论文信息</legend>
        <ul>
          <li>
            <label>题目：</label><%= @participant.thesis.subject %>
          </li>
          <li>
            <label>第一作者：</label><%= @participant.thesis.first_author %>
          </li>
          <li>
            <label>第二作者：</label><%= @participant.thesis.second_author %>
          </li>
          <li>
            <label>关键词：</label><%= @participant.thesis.keywords %>
          </li>
          <li>
            <label>摘要：</label><%= @participant.thesis.summary %>
          </li>
          <li>
            <label>论文：</label><%= human_thesis_document_tag @participant.thesis.document %>
          </li>
          <li>
            <label>摘要综合评审：</label><%= raw human_general_rating_tag @participant.thesis %>
          </li>
        </ul>
      </fieldset>
      <% @reviews.each do |review| %>
      <fieldset class="form-generic">
        <legend><%= review.name %></legend>
        <%= thesis_review_tag @participant.thesis, review %>
      </fieldset>
      <% end %>
      <% end %>
      <div class="action-generic">
        <%= link_to '编辑', edit_admin_participant_path(@participant), :class => 'button' %>
        <%= link_to '重置密码', reset_password_admin_participant_path(@participant), :confirm => '确定要重置密码吗？', :class => 'button' %>
        <%= link_to '删除', [:admin, @participant], confirm: '确定要删除吗？', :method => :delete, :class => 'button' %>
        <%= link_to '返回列表', admin_participants_path, :class => 'button' %>
      </div>
    </div>
  </div>
</div>