<div id="notice">
  <h1>修改密码</h1>
</div>
<div id="side">
  <%= render "admin/shared/shortcut" %>
</div>
<div id="main">
  <div class="portlet">
    <div class="title"></div>
    <div class="content">
      <%= flash_tag %>
      <%= form_tag admin_update_password_path, :id => :edit_password do %>
      <fieldset class="form-generic">
        <legend>修改密码</legend>
        <ul>
          <li>
            <label>原密码：</label><%= password_field_tag :original_password, nil, :class => 'text-field' %>
          </li>
        </ul>
        <ul>
          <li>
            <label>新密码：</label><%= password_field_tag :new_password, nil, :class => 'text-field' %>
          </li>
        </ul>
        <ul>
          <li>
            <label>确认新密码：</label><%= password_field_tag :confirmed_password, nil, :class => 'text-field' %>
          </li>
        </ul>
      </fieldset>
      <div class="action-generic">
        <%= link_to '修改', '#', :onclick => "submitForm('edit_password')", :class => 'button' %>
      </div>
      <% end %>
    </div>
  </div>
</div>