<div id="notice">
  <h1>论文列表</h1>
</div>
<div id="side">
  <%= render "admin/shared/shortcut" %>
</div>
<div id="main">
  <div class="portlet">
    <div class="title"></div>
    <div class="content">
      <%= flash_tag %>
      <table class="list-generic">
        <thead>
          <tr>
            <td>论文题目</td>
            <td>第一作者</td>
            <td>操作</td>
          </tr>
        </thead>
        <tbody>
          <% @theses.each do |thesis| %>
            <tr>
              <td><%= link_to thesis.subject.truncate(35), [:admin, thesis.participant] %></td>
              <td><%= thesis.first_author %></td>
              <td><%= edit_tag thesis.participant %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @theses %>
    </div>
  </div>
</div>