<div id="notice">
  <h1>“<%= @keyword %>”的搜索结果</h1>
</div>
<div id="side">
  <div class="portlet">
    <div class="title">相关功能</div>
    <div class="content">
      <div class="search-generic">
        <%= form_tag search_admin_theses_path, :id => 'search_theses', :method => :get do %>
          <%= text_field_tag :keyword, nil, :class => 'text-field' %>
          <%= link_to '搜索', '#', :onclick => "submitForm('search_theses')", :class => 'button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="main">
  <div class="portlet">
    <div class="title"></div>
    <div class="content">
      <%= flash_tag %>
      <table class="list-generic">
        <thead>
          <tr>
            <td>论文题目</td>
            <td>第一作者</td>
            <td>评审信息</td>
            <td>操作</td>
          </tr>
        </thead>
        <tbody>
          <% @theses.each do |thesis| %>
            <tr>
              <td>
                <%= link_to thesis.subject.truncate(20), [:admin, thesis.participant], :id => "thesis-#{thesis.id}" %>
                <%= javascript_tag do %>
                  $("a#thesis-<%= thesis.id %>").qtip({
                    content: "<%= thesis.subject %>",
                    style: {
                      name: 'light',
                      tip: 'topLeft'
                    }
                  });
                <% end %>
              </td>
              <td><%= thesis.first_author.truncate(4) %></td>
              <td><%= raw human_rating_for_list_tag thesis.ratings %></td>
              <td><%= edit_tag thesis.participant %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @theses %>
    </div>
  </div>
</div>