<div id="notice">
  <h1>添加专家</h1>
</div>
<div id="side">
  <%= render "admin/shared/shortcut" %>
</div>
<div id="main">
  <div class="portlet">
    <div class="title"></div>
    <div class="content">
      <%= form_for [:admin, @expert] do |f| %>
      <%= render "admin/shared/error_messages", :target => @expert %>
      <fieldset class="form-generic">
        <legend>专家信息</legend>
        <ul>
          <li>
            <label>账号：</label><%= f.text_field :account, :class => 'text-field' %>
          </li>
          <li>
            <label>姓名：</label><%= f.text_field :name, :class => 'text-field' %>
          </li>
          <li>
            <label>密码：</label><%= f.password_field :password, :class => 'text-field' %>
          </li>
          <li>
            <label>密码确认：</label><%= f.password_field :password_confirmation, :class => 'text-field' %>
          </li>
        </ul>
      </fieldset>
      <div class="action-generic">
        <%= link_to '添加', '#', :onclick => "submitForm('new_expert')", :class => 'button' %>
      </div>
      <% end %>
    </div>
  </div>
</div>