<%= expert_submenu_tag %>
<div id="right">
  <%= flash_tag %>
  <%= form_tag update_password_experts_path, :id => :edit_password_experts do %>
  <fieldset class="form-generic">
    <legend>修改密码</legend>
    <ul>
      <li>
        <label>原密码：</label><%= password_field_tag :original_password, nil, :class => 'text-field' %>
      </li>
    </ul>
    <ul>
      <li>
        <label>新密码：</label><%= password_field_tag :new_password, nil, :class => 'text-field' %>
      </li>
    </ul>
    <ul>
      <li>
        <label>确认新密码：</label><%= password_field_tag :confirmed_password, nil, :class => 'text-field' %>
      </li>
    </ul>
  </fieldset>
  <div class="action-generic">
    <%= link_to '修改', '#', :onclick => "submitForm('edit_password_experts')", :class => 'button' %>
  </div>
  <% end %>
</div>
<div class="cb"></div>
